<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post</title>
</head>
<body>
<h1>{{page_title}}</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{post_form.as_table}}
    </table>
    <button type="submit">Kirim</button>
</form>


</body>
</html>