{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page_title}}</title>
    {% include "snippets/styles.html" %}
</head>
<body>
            <h1>{{page_title}}</h1>
            <table class="table">
                <thread>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Title</th>
                        <th scope="col">Body</th>
                        <th scope="col">Email</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">Category</th>
                        <th scope="col">Waktu Posting</th>
                        <th scope="col">Updated</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Update</th>
                    </tr>
                </thread>
                <tbody>
                {% for post in posts %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{post.title}}</td>
                <td>{{post.body}}</td>
                <td>{{post.email}}</td>
                <td>{{post.alamat}}</td>
                <td>{{post.category}}</td>
                <td>{{post.waktu_posting}}</td>
                <td>{{post.updated}}</td>
                <td><a href="{% url 'delete' post.id %}" class="btn btn-danger">Hapus</a></td>
                <td><a href="{% url 'update' post.id %}" class="btn btn-warning">Update</a></td>
            </tr>
            {% endfor %}
                </tbody>
        </table>
        <a href="create" class="btn btn-primary">Tambah</a>


{% include "snippets/scripts.html" %}
</body>
</html>